*{
  magrin:0;
  padding:0;

}
a{
  color: #399;
  text-decoration: none;
}

body{
  font: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
}
.center{
  text-align: center;
}

.main_wrapper {
  .seat_tip {
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
  }

  h2{
    text-align: center;
    padding-top: 40px;
    background: url(../images/seats.png) no-repeat center -52px;
  }
  .seat_content{
    padding-top: 36px;
    background: url(../images/line.png) repeat-y center top;

    p{
      height: 28px;
      text-align: center;
      .num{
        position: absolute;
        left: 0;
        width: 1em;
        text-align: right;
        white-space: nowrap;
        line-height: 22px;
        color: #999;
      }

      .seat{
        display: inline-block;
        margin: 0 2px;
        width: 20px;
        height: 17px;
        vertical-align: middle;
        outline: 0;
        background: url(../images/seats.png) no-repeat;
      }

      .active{
        background-position: -27px 0;
      }
      .disabled{
        background-position: -52px 0;
      }
      .selected{
        background-position: -77px 0;
      }

    }
  }

}
.choose_seat{
#submitOrder{
  background-color: yellow;
}
}




